.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    background-image: url('../../public/HD-wallpaper-play-who-wants-to-be-a-millionaire-casino-game-online-for-real-for-your-mobile-tablet-explore-millionaire-background.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    padding-bottom: 35px;
}

.start-game-btn {
    background-color: rgba(49, 48, 48, 0.914);
    color: white;
    border: none;
    padding: 20px 120px;
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-game-btn:hover {
    background-color: darkgray;
}

@media only screen and (max-width: 390px) {
    .start-screen {
        background-size: 390px 844px;
    }
}

@media only screen and (min-width: 391px) and (max-width: 768px) {
    .start-screen {
        background-size: 768px 855px;
    }
    .start-game-btn {
        background-color: rgba(49, 48, 48, 0.914);
        color: white;
        border: none;
        padding: 20px 40px;
        font-size: 20px;
        border-radius: 25px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
}


.text-white {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}


.dropdown-container {
    position: relative;
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0 auto;
}

.dropdown-btn,
.dropdown-content button {
    background-color: gray;
    color: white;
    border: none;
    padding: 20px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.dropdown-content button:hover,
.dropdown-btn:hover {
    background-color: darkgray;
}

.dropdown-content {
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    width: 100%;
}

.dropdown-content button {
    text-decoration: none;
    display: block;
    background-color: white;
    color: black;
}

.dropdown-container:hover .dropdown-content {
    display: block;
}