.end-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../public/HD-wallpaper-play-who-wants-to-be-a-millionaire-casino-game-online-for-real-for-your-mobile-tablet-explore-millionaire-background.jpg') no-repeat center center/cover;
    color: white;
}

.end-message h1, .end-screen h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.end-message p {
    font-size: 1.5em;
}

.prize-table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 30px;
}

.prize-table td {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 25px;
    margin: 5px 0;
    font-size: 1.5em;
}

.highlight-row td {
    background: rgba(255, 0, 0, 0.5);
}

.prize-table tr + tr {
    margin-top: 10px;
}

