.play-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 100vh;
    background: url('../../public/HD-wallpaper-play-who-wants-to-be-a-millionaire-casino-game-online-for-real-for-your-mobile-tablet-explore-millionaire-background.jpg') no-repeat center center/cover;
    position: relative
}

.top-elements {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    align-items: center;
}

.timer-audio {
    display: flex;
    gap: 20px;
}


.question-box {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    z-index: 2;
}

.answers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
    z-index: 2;
}

.answer-btn {
    padding: 20px;
    border-radius: 10px;
    background: #ddd;
    cursor: pointer;
    transition: background 0.3s ease;
}

.answer-btn.selected {
    background: yellow;
  }

.answer-btn.correct {
    background: green;
}

.answer-btn.incorrect {
    background: red;
}


.jokers {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.jokers button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.jokers button:disabled {
    background-color: #CCC;
    cursor: not-allowed;
}


.sound-btn, .timer-seconds {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.jokers button:hover, .sound-btn:hover {
    background-color: red;
}

.timer-seconds {
    display: inline-block;
}